<html>
<head>

    {% load static %}

    <!-- Prism CSS -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <!--<link rel="stylesheet href""{% static 'my_app/example.jpg' %}" alt="My image">-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <!-- Compiled and minified JavaScript for Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <meta charset="utf-8">
  <title>{% block title %}Trading App{% endblock %}</title>
</head>
<body>
  <main className='base'>
    {% if user.is_authenticated %}
  <div className='nav'>user: {{ user.username }}</div>
  {% block content %}
  {% endblock %}
  <p><a href="{% url 'home'%}">Home</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>

  {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
  {% endif %}

  </main>
</body>
</html>