{% extends 'base.html' %}
{% load static %}

{% block title %}Portfolio{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div className="base">
      <div class='pfName'>
        <h1>  {{name}} </h1>
      </div>
    {% for asset in assets %}
    	<div class="row">
      {{asset.symbol}}/{{asset.name}}
      <ul>
        <li>Amount: {{asset.amount}}</li>
        <li>Status: {{asset.status}}</li>
        <li>APR: {{asset.apr}}</li>
        <li>$ value: {{asset.value}}</li>
        <li>Stake expiry: {{asset.stake_start}}</li>
        <!-- <li>{{asset.stake_end}}</li> -->
      </ul>

	    </div>
    {% endfor %}
	</div>


  <h2> Strategy </h2>
  <h3> {{strategy}}  </h3>

  {% for i in parameters %}
	<div class="row">
    {{i}}  
	</div>
    {% endfor %}
    <div>
    <a href="{% url 'my_portfolios' %}">My Portfolios</a>
  </div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}


{% endblock %}