{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% block title %}Portfolio{% endblock %}

{% block content %}
{% if user.is_authenticated %}

    <div className="base">
      <div class='pfName'>
        {{name}}
      </div>
    {% for i in assets %}
	<div class="row">
    {{i.name}}
    Coins: {{i.total}}

    Average: {{i.data.average}}
  
	</div>
    {% endfor %}
	</div>

  {% for i in parameters %}
	<div class="row">
    {{i}}  
	</div>
    {% endfor %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}