div.asset {
  font-size: 12px;
  background-color: #687b92;
  color: #ffffff;
  text-align: center;
}

p.asset {
  float: top;
}
p.assetText {
  text-align: center;
}

.addAssetForm {
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.assets {
  align-items: left;
  justify-content: left;
  width: 220px;
}

div.portfolioDetail {
  margin: 10px;
}

div.portfolioDetailGrid {
  justify-content: center;
  display: inline-grid;
}

div.portfolioDetailGrid1 {
  grid-column: 1 / 1;
}

div.portfolioDetailGrid2 {
  align-items: center;
  justify-content: center;
  grid-column: 4/4;
  width: 250px;
}
div.portfolioDetailGrid3 {
  align-items: center;
  justify-content: center;
  grid-column: 3/4;
  width: 250px;
}

Button.currencyBtn {
  margin: 10px;
  width: 200px;
  text-align: center;
  justify-content: center;
}

Button.toggleView {
  margin: 10px;
  width: 200px;
  text-align: center;
  justify-content: center;
}

div.dropdowns {
  width: 250px;
}

.amountInput {
  justify-content: center;
  margin: 8px;
  padding: 8px;
  width: 100px;
}

.deleteAssetBtn {
  position: relative;
  right: 0;
}

.sumText {
  font-size: 36px;
  padding: 10px;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
  color: darkblue;
}
