div.assets {
  margin: 10px;
  text-align: center;
  align-items: center;
}

div.assetsHeader {
  text-align: center;
  align-items: center;
  justify-content: center;
}

div.currencyAsset {
  justify-content: center;
  align-items: center;
}

button.currencyBtn {
  color: white;
  width: 500px;
  padding: 15px 20px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(118, 155, 255);
  cursor: pointer;
}

div.positions {
  align-items: center;
  justify-content: center;
  color: #323d4b;
}

div.asset {
  font-size: 12px;
  background-color: #4d719c;
  color: #ffffff;
  text-align: center;
  align-items: center;
}

.assetGrid {
  display: grid;
  margin: 5px;
  place-content: center;
  grid-gap: 1px;
  grid-template-columns: repeat(5, 70px);
  gap: 1px;
  grid-auto-rows: minmax(10px, auto);
  align-items: right;
}

.assetGrid1 {
  grid-column: 1;
}
.assetGrid2 {
  grid-column: 2;
}

.assetGrid3 {
  grid-column: 3;
}

.assetGrid4 {
  grid-column: 4;
}
.assetGrid5 {
  grid-column: 5;
}

.deleteAssetBtn {
  cursor: pointer;
  background-color: rgb(126, 30, 30);
  color: white;
}

p.assetText {
  text-align: center;
  justify-content: center;
}

.addAssetForm {
  justify-content: center;
  align-items: center;
  text-align: center;
}
