.nav {
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}

.nav p {
  margin: 10px;
}

button.navLogout {
  background-color: gray;
  color: white;
  border-color: white;
}

button.navLogout:hover {
  background-color: rgb(92, 82, 82);
  color: white;
  border-color: white;
}

p.updatedText {
  color: white;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 2px;
  line-height: 10px;
  margin: 2px;
}

p.infoText {
  color: rgb(187, 187, 187);
}
