* {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
}

.base {
  padding-bottom: 20px;
}
.app {
  height: 90vh;
}

.nav {
  align-items: right;
  justify-content: flex-end;
  background-color: black;
  color: white;
  margin-bottom: 10px;
}

.nav p {
  margin: 10px;
}

.pageTitle {
  text-align: center;
}
