* {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
}

.base {
  padding-bottom: 20px;
}
.app {
  height: 90vh;
}

.nav {
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
}

.nav p {
  margin: 10px;
}

button.navLogout {
  background-color: gray;
  color: white;
}

.pageTitle {
  text-align: center;
}

div.dropdowns {
  width: 250px;
}
