* {
  font-family: Arial, Helvetica, sans-serif;
}
.app {
  height: 90vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav {
  align-items: right;
  justify-content: flex-end;
  background-color: black;
  color: white;
  margin-bottom: 10px;
}

.nav p {
  margin: 10px;
}
