.stratName {
  background-color: rgb(168, 249, 255);
  color: rgb(0, 1, 39);
  font-size: 32px;
  padding-left: 50px;
  padding-right: 50px;
  padding: 20px;
  width: 250px;
  line-height: 30px;
  margin: 5px;
  font-weight: bold;
  border: 1px solid rgb(0, 6, 39);
}
.strategyBtns {
  margin: 10px;
  padding: 10px;
}

.strategyParameter {
  align-items: center;
  text-align: center;
}

.stratParam {
  margin: 10 px;
  display: grid;
  grid-template-columns: repeat(4, 0.33fr);
  align-items: center;
}

.name {
  grid-column: 1;
}

.value {
  grid-column: 2;
}

.input {
  grid-column: 3/4;
}

.description {
  font-size: 10px;
  grid-column: 1/6;
  text-align: left;
}

.updateParamsBtn {
  font-size: 8px;
}

h2,
h4 {
  margin: 10px;
}

.strategyGrid {
  display: grid;
  grid-template-columns: repeat(5, 0.2fr);
  align-items: center;
}

.changeBtn {
}
.sg1 {
  grid-column: 1;
}
.sg2 {
  grid-column: 2/4;
}
.sg3 {
  grid-column: 5;
}
